/* CategoryButton.css */
.category-button {
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
  padding: 15px 25px;
  margin: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  text-align: center;
  color: #00ad00;
}

.category-button:hover {
  color: #008000;
}

.category-button:active {
  color: #008000;
}

.category-button.active {
  color: #008000;
}

.category-button:not(.active) {
  color: #fff;
}

.category-button.rainfall {
  color: lightblue;
}

.category-button.flood {
  color: lightcoral;
}

.category-button.landslide {
  color: lightgreen;
}

.category-button.rainfall:hover, 
.category-button.flood:hover, 
.category-button.landslide:hover {
  filter: saturate(2);
}
