.map-container {
  position: relative;
  width: 100%;
  height: 1500px;
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* 그리드가 지도 인터랙션을 방해하지 않도록 설정 */
}

.grid-cell {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.2); /* 그리드 셀의 테두리 색상 및 투명도 설정 */
  background-color: rgba(0, 0, 0, 0.1); /* 기본 채도 설정 */
  transition: background-color 0.3s ease; /* 채도 변화를 위한 트랜지션 */
  pointer-events: auto; /* 마우스 이벤트 허용 */
}

.grid-cell:hover {
  background-color: rgba(0, 0, 0, 0.3); /* 마우스를 올렸을 때 채도 변화 */
  cursor: pointer; /* 커서 변경 */
}

.modal-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
